*{
    margin: 0px;
    padding: 0px;
    box-sizing: bordfer-box;
}
a{
    text-decoration: none;
}

ol , li {
    list-style: none;
}
:root{
    --primary-bg-color : #B73259;
}
.game{
    width: 100%;
    height:100vh;
    background:var(--primary-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding:80px 0px;
}
.game p{
    color: #fff;
    font-size: 85px;
    font-weight: 800;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 60px;
    padding-bottom: 90px;
}
.inner-game {

    text-align: center;
}
.inner-game h2{
    font-size: 45px;
    color: #fff;  
    padding-bottom: 30px;
}
.inner-game input{
    width: 180px;
    font-size: 20px;
    padding: 20px 30px;
}
.inner-game input:focus-visible{
    outline: 2px solid green;
}
.submit{
    padding: 10px 20px;
    background-color: #0bb0c9;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #0bb0c9;
    transition: 0.2S;
    cursor: pointer;

}
.submit:active{
    background-color: transparent;
    color: #0bb0c9;
}

.boxTwo{
    display: none;
}
.rules{
    font-size: 20px;
    font-weight: 600;
    color:rgb(216, 198, 198);
    padding-bottom: 30px;
}
.result{
    font-size: 22px;
    color: #B73259;
    background-color: #fff;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
    text-align: center;
    display:inline-block;
    border-radius: 8px;
    margin-top: 30px;
    display: none;
}
.chanceCount{
    font-size: 18px;
    color: #eee;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
}
.boxThree{
    color: #fff;
    background-color: #0bb0c9;
    padding: 30px 100px;
    display: none;
    font-size: 20px;
    border-radius: 8px;
}
.boxThree .gameOver {
    font-size: 20px;
    color: rgb(198, 0, 0);
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.boxThree .playAgain{
    font-size: 18px;
    background-color: #B73259;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    border: 1px solid #B73259;
    transition: 0.2s;
    cursor: pointer;
}
.boxThree .playAgain:hover{
    background-color: transparent;
    color: #B73259;
}
.innerThreeBox{

}